################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/SearchSample/packages
/SearchSample/.vs/SearchSample/v16
/SearchSample/SearchSample/bin/Debug
/SearchSample/SearchSample/obj/Debug
/SearchSample/SearchSample/bin/Release
/SearchSample/SearchSample/obj/Release
/SearchSample/SearchSample/SearchSample.csproj.user
